    
  
   
 
 
.fg-web-theme-01 {
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .btn:not(.selectpicker):not(.fg-btn) {
    color: rgba(255, 255, 255, 1);
    background : rgba(237, 217, 38, 1);
}
.fg-web-theme-01 .btn:not(.selectpicker):not(.fg-btn):hover {
    background : rgba(230, 9, 178, 1);
}
.fg-web-theme-01 a {
    color : rgba(237, 217, 38, 1);
}
.fg-web-theme-01 a:hover {
    color : rgba(230, 9, 178, 1);
}
.fg-web-theme-01 .fg-login-widget .form-group input {
    background: rgba(255, 255, 255, 1);
    color : rgba(245, 15, 3, 1);
    border-color : rgba(245,  15,  3, 0.3) !important;
}
.fg-web-theme-01 .form-group .help-block {
  /*inverse color */
  color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .form-group .input-group-addon{
	/*inverse color 30% opacity */
  border-color: rgba(245,  15,  3, 0.3);
	
}
.fg-web-theme-01 .fg-webpage-admin-header .form-control::-webkit-input-placeholder {
    color: #999;
}
.fg-web-theme-01 .fg-webpage-admin-header .form-control::-moz-placeholder {
    color: #999;
}
.fg-web-theme-01 .fg-webpage-admin-header .form-control::-ms-input-placeholder {
    color: #999;
}
.fg-web-theme-01 .form-control::-webkit-input-placeholder {
    color : rgba(245,  15,  3, 0.5) ;
}
.fg-web-theme-01 .form-control:-moz-placeholder {
    color : rgba(245,  15,  3, 0.5) ;
}
.fg-web-theme-01 .form-control::-moz-placeholder {
    color : rgba(245,  15,  3, 0.5) ;
}
.fg-web-theme-01 .form-control:-ms-input-placeholder {
    color : rgba(245,  15,  3, 0.5) ;
}
.fg-web-theme-01 .fg-web-page-header {
    border-color : rgba(245,  15,  3, 0.2) ;
    background: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper {
    border-color : rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li {
    color : rgba(245,  15,  3, 0.5); 
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li a {
    color : rgba(245,  15,  3, 0.5); 
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li a {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li a:hover {
    color : rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav > li.hover > a {
    color : rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu {
    background: #2c3137; 
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li {
    color: rgba(255,  255,  255, 0.5); 
}
.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li a {
    color: rgba(255, 255, 255, 0.5) ;
}

.fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu li:hover > a {
    color : rgba(252, 214, 76, 1) !important;
    background: #24282d;
}
@media only screen and (max-width: 991px) {
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav {
        background: #394048;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li {
        border-color: #404851 !important;
        color: #fff;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li a {
        color: #fff;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li a:hover {
        color: #29bfd4;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li .fg-dropdown-toggle {
        /*---do not convert to dynamic for moment*/
        color: #fff;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > a, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > a {    
        color : rgba(252, 214, 76, 1) !important;
        background: none !important;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.active > .fg-dropdown-toggle, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li.hover > .fg-dropdown-toggle, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > .caret, .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav li:hover > .fg-dropdown-toggle {
        color : rgba(252, 214, 76, 1) !important;
    }
    .fg-web-theme-01 .fg-web-main-nav-bar .navbar-nav .dropdown-menu {
        background: #394048;
        border-color: #404851 !important;
    }
}
.fg-web-theme-01 .fg-web-page-title-bar {
    background : rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-web-page-container h2 {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-title {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-date {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-title {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-title {
    color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-date {
    color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-container .fg-calendar-event-widget .fg-event-block .fg-event-date {
    color : rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-web-page-footer {
    background : rgba(245, 15, 3, 1);
    color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-title {
    color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-calendar-event-widget .fg-event-block .fg-event-date {
    color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-go-top {
    color: rgba(255,  255,  255, 0.2); 
}
.fg-web-theme-01 .fg-calendar-event-widget .fg-event-block {
    border-color : rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-article-widget .fg-article-wrapper footer {
    border-color : rgba(245,  15,  3, 0.1); 
}

.fg-web-theme-01 .fg-article-widget .fg-article-wrapper footer .fg-cat-tags > span.fg-club-tag {
  /*accent color*/
  background:rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .fg-article-widget .fg-article-wrapper footer .fg-cat-tags > span.fg-cat-tag {
  /*inverse color  20% opacity */
  background: rgba(245,  15,  3, 0.2); ;
  /*inverse color */
  color: rgba(245, 15, 3, 1);
}

.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-cat-wrapper .fg-areas > span {
  /*---do not convert to dynamic for moment*/
  color: #fff;
  /*accent color*/
  background:rgba(252, 214, 76, 1) !important;
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-cat-wrapper .fg-cats > span {
  /*inverse color  */
  color: rgba(245, 15, 3, 1);
  /*inverse color  20% opacity */
  background: rgba(245,  15,  3, 0.2) !important;
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .carousel-caption {
  /*inverse color  */
  color: rgba(245, 15, 3, 1);
  /*background color  value  50% opacity */
  background: rgba(255,  255,  255, 0.75) !important;
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav {
  /*inverse color  10% opacity */
   border-color: rgba(245,  15,  3, 0.1)!important; 
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav li {
  /*background color  */
  color: rgba(255, 255, 255, 1);
  /*inverse color  10% opacity */
   border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav li a {
  /*inverse color */
  color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav li.active {
  /*Highlighting color color */
  color: rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav li.active a {
  /*accent color */
  color: rgba(252, 214, 76, 1) !important;
}

.fg-web-theme-01 .fg-article-widget .fg-article-slider .fg-article-slider-nav li.active a span{
  /*accent color */
  color: rgba(252, 214, 76, 1) !important;
}

.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .carousel-caption {
  /*background color  */
  color:  rgba(255, 255, 255, 1);
  /*inverse color  value  50% opacity */
  background-color: rgba(245,  15,  3, 0.75) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .fg-article-slider-nav {
  /*background color  10% opacity */
  border-color:rgba(255,  255,  255, 0.2)  !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .fg-article-slider-nav li {
  /*background color  10% opacity */
  border-color: rgba(255,  255,  255, 0.1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .fg-article-slider-nav li a {
  /*background color */
  color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .fg-carousel-nav > a:hover {
  /*Inverse color  value  100% opacity and 20% */
  background: -moz-linear-gradient(left, rgba(245,  15,  3, 0.2) 0%, rgba(245, 15, 3, 1) 77%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(245,  15,  3, 0.2) 0%, rgba(245, 15, 3, 1) 77%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(245,  15,  3, 0.2)) 0%, rgba(245, 15, 3, 1) 77%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(245,  15,  3, 0.2)', endColorstr='rgba(245, 15, 3, 1)',GradientType=1 );
  /* IE6-9 */
}
.fg-web-theme-01 .fg-web-page-footer .fg-article-widget .fg-article-slider .fg-carousel-nav > a.fg-prev:hover {
  /*Inverse color  value  20% opacity and 100% */
  background: -moz-linear-gradient(left, rgba(245, 15, 3, 1) 0%, rgba(245,  15,  3, 0.2) 77%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(245, 15, 3, 1) 0%, rgba(245,  15,  3, 0.2) 77%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(245, 15, 3, 1) 0%, rgba(245,  15,  3, 0.2) 77%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(51,51,51,1)', endColorstr='rgba(245,  15,  3, 0.2)',GradientType=1 );
  /* IE6-9 */
}
.fg-web-theme-01 .fg-header-widget h2:after {
    background : rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-login-widget .fg-back-button {
    color: #727272;
}

.fg-web-theme-01 .fg-supplementary-widget .panel-group,.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav {
    border-color: rgba(245,  15,  3, 0.1); 
}

.fg-web-theme-01 .fg-supplementary-widget .card-header,.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav li {
    background: rgba(255,  255,  255, 0.5); 
}
.fg-web-theme-01 .fg-supplementary-widget .card-header.active,.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav li.active {
    background: rgba(245,  15,  3, 0.05)
}

.fg-web-theme-01 .fg-supplementary-widget .panel-body {
    background: rgba(255,  255,  255, 0.5);
}

.fg-web-theme-01 .fg-supplementary-widget a,.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav a {
    color: rgba(245, 15, 3, 1); 
}

.fg-web-theme-01 .fg-supplementary-widget .active > a,
.fg-web-theme-01 .fg-supplementary-widget .active > .fg-arrow,
.fg-web-theme-01 .fg-supplementary-widget a:hover,
.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav .active > a,
.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav a:hover {
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-supplementary-widget .card-header:hover,
.fg-web-theme-01 .fg-supplementary-widget .card-header:hover a,
.fg-web-theme-01 .fg-supplementary-widget .card-header.active .fg-arrow,
.fg-web-theme-01 .fg-supplementary-widget .card-header.active a,
.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav li:hover,
.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav li:hover a,
.fg-web-theme-01 .fg-web-page-container .fg-teams-innerpage-wrapper .fg-team-nav li:active a {
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-article-detail-wrapper .fg-article-details-block .fg-cat-tags > span.fg-club-tag,
.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer .fg-cat-tags > .fg-club-tag {
    background: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer .fg-cat-tags > .fg-cat-tag,
.fg-article-detail-wrapper .fg-article-details-block .fg-cat-tags > .fg-cat-tag {
    color: rgba(245, 15, 3, 1);
    background: rgba(245,  15,  3, 0.2); 
}

.fg-web-theme-01 .fg-article-detail-wrapper .fg-article-details-block,
.fg-web-theme-01 .fg-article-special-contents-wrapper .fg-article-content-block .fg-footer {
border-color: rgba(245,  15,  3, 0.1); 
}

.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li .fg-area-tags > span {
    background: rgba(252, 214, 76, 1);
    color: #fff;
}

.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li {
    border-color: rgba(245,  15,  3, 0.1); 
}

.fg-web-theme-01 .fg-gallery-album .fg-image:after {
    border-bottom-color:rgba(255, 255, 255, 1);
}

.fg-web-theme-01 h2.fg-page-subtitle:after {
    background: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-web-page-title-bar ::-webkit-input-placeholder {
    color: rgba(245,  15,  3, 0.5); 
}

.fg-web-theme-01 .fg-web-page-title-bar :-moz-placeholder {
    color: rgba(245,  15,  3, 0.5); 
}

.fg-web-theme-01 .fg-web-page-title-bar ::-moz-placeholder {
    color: rgba(245,  15,  3, 0.5); 
}

.fg-web-theme-01 .fg-web-page-title-bar :-ms-input-placeholder {
    color: rgba(245,  15,  3, 0.5); 
}

.fg-web-theme-01 .fg-web-page-title-bar input[type="text"], .fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select {
    border-color: rgba(245,  15,  3, 0.1); 
    background: rgba(255, 255, 255, 1);
    color: rgba(245,  15,  3, 0.5); 
}

.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker {
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1); 
}

.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li > a {
    color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li > a:hover {
    background: none;
    color : rgba(230, 9, 178, 1);
}
.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .selectpicker > li.selected > a {
    background: none;
    color : rgba(230, 9, 178, 1);
}

.fg-web-theme-01 .fg-web-page-title-bar .bootstrap-select .dropdown-menu {
    /*inverse color 30% opacity */
    border-color: rgba(245,  15,  3, 0.3); 
}

.fg-web-theme-01 caption {
    color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-calendar-detail-wrapper .fg-calendar-meta-details-block > li .fg-cat-tags > span {
    background: rgba(245,  15,  3, 0.2); 
}
.fg-web-theme-01 .fg-breadcrumb-block .fg-breadcrumbs li a {
    color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-web-main-nav-bar .fg-web-nav-icon {
    background : rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .form-group .form-control {
    /*background color */
    background: rgba(255, 255, 255, 1);
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1) !important;
    /*inverse color 30% opacity */
    border-color : rgba(245,  15,  3, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-toggle {
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color : rgba(245,  15,  3, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu {
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color : rgba(245,  15,  3, 0.3) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu > li > a {
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1) !important;
}
.fg-web-theme-01 .bootstrap-select .dropdown-menu > li > a:hover {  
    color: rgba(255, 255, 255, 1) !important;
    background: rgba(245, 15, 3, 1) !important;
}
.fg-web-theme-01 .bootstrap-select .filter-option {
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1) !important;
}

.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li a {
    /*inverse color 50% opacity */
    color : rgba(245,  15,  3, 0.5) ;
    background: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li a:hover {
    color: rgba(252, 214, 76, 1);
    background: rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language .dropdown-menu li.active > a {
    color: rgba(252, 214, 76, 1);
    background: rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-languages > .current-language:hover > a, .fg-web-theme-01  .fg-web-page-header .fg-web-top-nav-languages > .current-language.active > a {
    color: rgba(252, 214, 76, 1);
    background: rgba(245,  15,  3, 0.1); 
}

.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li.active > a {
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li.active > a, .fg-web-theme-01 .fg-web-page-header .fg-web-top-nav-wrapper li:hover > a {
    /*accent color*/
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-content .fg-event-title,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-content .fg-event-title a,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .popover .fg-calendar-popover .card-header .panel-title,
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .popover .fg-calendar-popover .card-header .panel-title > a  {
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-event-cats .fg-cat {
    /*inverse color 20% opacity */
    background: rgba(245,  15,  3, 0.2); 
}
.fg-web-theme-01 .fg-calendar-special-contents-wrapper .fg-calendar-month-block .fg-border-rows > .fg-rows {
    /*inverse color 10% opacity */
    border-color:  rgba(245,  15,  3, 0.1) 
}

.fg-web-theme-01 .fg-web-article-comments-wrapper .fg-web-article-comment-block .fg-content-wrapper .form-group > input[type='text'],
.fg-web-theme-01 .fg-web-article-comments-wrapper .fg-web-article-comment-block .fg-content-wrapper #comment-text-area_new {  
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color: rgba(245,  15,  3, 0.3) !important;
}

.fg-web-theme-01 .fg-team-special-page-wrapper .fg-teams .fg-title a {
  /*inverse color 100% opacity */
  color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-team-special-page-wrapper .fg-teams .fg-thumb > a.fg-placeholder {
  /*inverse color  opacity 20% */
  background: rgba(245,  15,  3, 0.2);
}
.fg-web-theme-01 .fg-teams-portrait-innerpage-wrapper .fg-team-portrait-page-wrapper .fg-portrait-team-wrapper .fg-portrait .fg-portrait-thumb a i {
	/*Main text color*/
	color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-teams-portrait-innerpage-wrapper .fg-team-portrait-page-wrapper .fg-portrait-team-wrapper .fg-datatable .dataTables_scrollBody table tr td a {
	/*Main text color*/
	color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-teams-portrait-innerpage-wrapper .fg-team-contact-details tr {
    /*Inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-web-page-sidebar-wrapper .fg-team-nav li.active > a {
  /*Highlighting color color */
  color: rgba(230, 9, 178, 1);
}
.fg-web-theme-01 .fg-contact-table-widget .form-control {
    /*background color */
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .bootstrap-select {
    /*background color */
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .selectpicker, .fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .dropdown-menu  {
    /*background color */
    background: rgba(255, 255, 255, 1);
    color: rgba(245, 15, 3, 1) !important;
    border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .selectpicker li > a, .fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .dropdown-menu li > a {
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-contact-table-widget .fg-contact-table-header .fg-export {
    /*inverse color */
    color: rgba(245, 15, 3, 1);
    /*inverse color 10% opacity*/
    background-color: rgba(245,  15,  3, 0.1);
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:before {
    /*inverse color 50% opacity*/
    border-bottom-color: rgba(245,  15,  3, 0.1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled):after {
    /*inverse color 50% opacity*/
    border-top-color: rgba(245,  15,  3, 0.1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_asc:before {
    /*inverse color */
    border-bottom-color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_desc:after {
    /*inverse color*/
    border-top-color: rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable thead th, .fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable thead td {
    /*Inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1) !important;
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr.fg-hover {
    /*accent color 10% opacity*/
    background: rgba(252,  214,  76, 0.1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr td {
    /*Inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1) !important;
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fa:not(.fa-star) {
    /*link color */
    color: rgba(237, 217, 38, 1);
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fa:not(.fa-star):hover {
    /*Highlighting color color */
    color: rgba(230, 9, 178, 1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder {
    /*inverse color 10% opacity*/
    background-color: rgba(245,  15,  3, 0.1); 
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder .fa {
    /*inverse color*/
    color: rgba(245, 15, 3, 1); 
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable.no-footer {
    /*Inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1) !important;
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr td:first-child:before, .fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr th:first-child:before {
    /*link color */
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr.parent td:first-child:before, .fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTable.dtr-column.collapsed tbody tr.parent th:first-child:before {
    /*Highlighting color color */
    color: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_paginate .paginate_button{
    /*inverse color */
    color: rgba(245, 15, 3, 1) !important;
    /*inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1);
}
.fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.disabled), .fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current, .fg-web-theme-01 .fg-datatable .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    /*accent color */
    border-color: rgba(252, 214, 76, 1);
    background: rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .form-control {
    /*inverse color */
    background-color: rgba(245, 15, 3, 1) !important;
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1) !important;
    /*background color 100% opacity */
    color: rgba(255, 255, 255, 1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .bootstrap-select {
    /*inverse color */
    background-color: rgba(245, 15, 3, 1) !important;
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1) !important;
    /*background color 100% opacity */
    color: rgba(255, 255, 255, 1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .selectpicker, .fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .dropdown-menu {
    /*inverse color */
    background-color: rgba(245, 15, 3, 1) !important;
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1) !important;
    /*background color 100% opacity */
    color: rgba(255, 255, 255, 1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .selectpicker li > a, .fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .dropdown-menu li > a {
    /*background color 100% opacity */
    color: rgba(255, 255, 255, 1) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .fg-contact-table-header .fg-export {
    /*background color */
    color: rgba(255, 255, 255, 1);
    /*background color 10% opacity*/
    background-color: rgba(255,  255,  255, 0.1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-datatable .dataTables_wrapper .dataTable tbody tr td {
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1) !important; 
}
.fg-web-theme-01 .fg-web-page-footer .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder {
    /*background color 10% opacity*/
    background-color: rgba(255,  255,  255, 0.1); 
}
.fg-web-theme-01 .fg-web-page-footer .fg-datatable .dataTables_wrapper .dataTable tbody tr td .fg-avatar .fg-placeholder .fa {
    /*background color*/
    color: rgba(255, 255, 255, 1);
}

.fg-web-theme-01 .fg-web-page-footer .fg-contact-table-widget .dataTables_paginate .paginate_button {
    /*background color */
    color: rgba(255, 255, 255, 1) !important;
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1);
}
.fg-web-theme-01 .fg-portrait-widget .form-control {
    /*background color */
    background: rgba(255, 255, 255, 1);
    /*inverse color 100% opacity */
    color: rgba(245, 15, 3, 1) !important;
    /*inverse color 30% opacity */
    border-color: rgba(245,  15,  3, 0.3) !important;
}
.fg-web-theme-01 fieldset {
  /*inverse color 10% opacity*/
  border-color: rgba(245,  15,  3, 0.1) ;
}
.fg-web-theme-01 fieldset > legend {
  /*inverse color 10% opacity*/
  background-color: rgba(245,  15,  3, 0.1);
}
.fg-web-theme-01 .fg-pagination li a, .fg-web-theme-01 .fg-pagination li span {
    /*inverse color */
    color: rgba(245, 15, 3, 1) !important;
    /*inverse color 10% opacity*/
    border-color: rgba(245,  15,  3, 0.1);
}
.fg-web-theme-01 .fg-pagination li:not(.disabled) a:hover, 
.fg-web-theme-01 .fg-pagination li:not(.disabled) a.current, 
.fg-web-theme-01 .fg-pagination li:not(.disabled) a.current:hover, 
.fg-web-theme-01 .fg-pagination li:not(.disabled) span:hover, 
.fg-web-theme-01 .fg-pagination li:not(.disabled) span.current, 
.fg-web-theme-01 .fg-pagination li:not(.disabled) span.current:hover {
    color: #fff !important;
    /*accent color */
    border-color: rgba(252, 214, 76, 1);
    background: rgba(252, 214, 76, 1);
}

.fg-web-theme-01 .fg-web-page-footer .fg-portrait-widget .form-control {
    /*inverse color */
    background: rgba(245, 15, 3, 1);
    /*background color 100% opacity */
    color: rgba(255, 255, 255, 1) !important;
    /*inverse color 30% opacity */
    border-color: rgba(255,  255,  255, 0.3) !important;
}
.fg-web-theme-01 .fg-web-page-footer .fg-pagination li a, 
.fg-web-theme-01 .fg-web-page-footer .fg-pagination li span {
    /*background color */
    color: rgba(255, 255, 255, 1) !important;
    /*background color 10% opacity*/
    border-color: rgba(255,  255,  255, 0.1);
}

.fg-web-theme-01 .fg-web-page-footer  .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_asc:before {
    /*inverse color */
    border-bottom-color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-web-page-footer .fg-datatable .dataTables_wrapper .dataTables_scrollHead thead th:not(.sorting_disabled).sorting_desc:after {
    /*inverse color*/
    border-top-color: rgba(255, 255, 255, 1);
}
.fg-web-theme-01 .fg-custom-event-popover{
  background-color:rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-custom-event-popover .arrow::after{
  border-right-color:rgba(245, 15, 3, 1);
}
.fg-web-theme-01 .fg-custom-event-popover .arrow::before{
  border-right-color:transparent;
}

.fg-web-theme-01  .fg-event-category-list-wrapper .fg-categories-list-items .fg-title a{
  color: rgba(245, 15, 3, 1);
}

.fg-web-theme-01  .fg-event-list-wrapper .fg-event-list-smallBox-list .fg-event-list-smallBox-item,
.fg-web-theme-01  .fg-event-list-wrapper .fg-event-list-announcementBox-list .fg-event-list-announcementBox-item{
  color: rgba(245, 15, 3, 1);
}

.fg-web-theme-01 .fg-sub-event-bg{
  background: rgba(245,  15,  3, 0.2);
}

.fg-web-theme-01 .fg-cms-event-subscription-form-wrapper .fg-total-wrapper{  
  background-color: rgba(230, 9, 178, 1);
  color: rgba(255, 255, 255, 1);
}

.fg-web-theme-01 #fg-add-part-tab-list a.fg-step{
    color: rgba(245, 15, 3, 1);
}

.fg-web-theme-01 .fg-cms-event-subscription-form-wrapper .bootstrap-filestyle .fg-upload-btn-wrap, .fg-web-theme-01 .fg-switch .fg-switch-btn{
    background-color : rgba(237, 217, 38, 1);
    color: rgba(255, 255, 255, 1);
}

.fg-web-theme-01 .fg-cms-event-subscription-form-wrapper .bootstrap-filestyle .fg-upload-btn-wrap:hover, .fg-web-theme-01  .fg-switch .fg-switch-btn:hover {
    background-color : rgba(230, 9, 178, 1);
}


.fg-web-theme-01 .fg-event-calendar-special-page .fc-event,
.fg-web-theme-01 .fg-event-calendar-special-page .fc-event-dot {
      background:rgba(252, 214, 76, 1);
}
.fg-web-theme-01 .modal .modal-content, .fg-web-theme-01 .fg-page-loading, .fg-web-theme-01 .fg-login-to-event-wraper .dropdown-menu.fg-login-code-wrap{
  background-color:rgba(255, 255, 255, 1);
}

.fg-web-theme-01 .fg-login-to-event-wraper .fg-login-code-wrap .fg-login-arrow:before{
  color:rgba(255, 255, 255, 1);
}